.btn{
&:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px $black,.2;
}

&:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px $black,.2;
}

&:link,
&:visited{
    text-transform:uppercase;
    text-decoration:none;
    padding: 15px 40px;
    display: inline-block;
    border-radius:50px;
    transition: all .2s;
}

&--white{
    background-color:white;
    color:$grey;
    &::after{
    background-color:white;
}   
}
}

.btn-text{
    &:link,
    &:visited{
       font-size:$default-font-size;
       color:$yellow-light; 
       display:inline-block;
       text-decoration:none;
       border-button: 1px solid $grey;
       padding: 3px;
       transition: all.2s;

    }
    
    &:hover{
        background-color:$yellow-dark;
        color:$white;
        box-shadow: 0 1rem 2rem rgba($black,.2);
        transform:translateY(-2px);
    }
    
    &:active{
        
    }
}
